.chat-main
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-group
        group name
      .main-header__leftbox__member-list  
        Member

    .main-header__edit-btn    
      = link_to "#" ,class: "edit" do
        Edit

  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          shouya
        .message__upper-info__date
          2019/10/08/19:14:39
      .message__text
        this is a first message
  .form
    .input-box
      %input.input-box__text{:placeholder => "type a message",:class => "input-box__text",:type => "text",:name => "message[content]",:id => "message_content"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file",class: "file"}    
      %input.submit-btn{:type => "submit",:name => "commit",:value => "Send",:data-disable-with => "Send"}