.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        seo    
      .side-header__box__menu__new
        = link_to "#" do
          = icon('fas', 'edit',class: 'strong')  
        = link_to "#" do 
          = icon('fas', 'cog',class: 'strong')
        
  .groups 
    .groups__group-name
      sample
    .groups__latest-message
      Good bye